
  $base: rgb(17, 17, 17);

.base-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  

.App{
  background-color: $base;
  height: 100vh;
  color: white;
  justify-content: space-between;
  flex-direction: column;
}


.nav-bar{
  width: 100%;
  padding-top: 10px;
  flex-direction: row;
  justify-content: space-around;

  .nav-bar-div{
    flex-direction: row;
    width: 100%;
    img.logo{width: 120px;}
    a{
      padding: 5px 10px;
      text-decoration: none;
      text-align: left;
      cursor: pointer;
      border-radius: 8px;
      transition: ease 0.5s;
      justify-content: flex-start;
      margin: 7px 1px;
     }

    a:active,a:visited{color: white;}

    a:hover{
      background-color: rgba(71, 71, 71, 0.801);
      transition: ease 0.5s;
    }

    a.user-links{
      background-color: rgba(71, 71, 71, 0.801);
      padding: 10px;
      width: auto;
      margin-right: 10px;
    }

  }

  .logo-holder{width: 40%;}
  .nav-link-holder{justify-content: flex-start;}
  .logout-holder{justify-content: flex-end;}

}

.main-body{
  width: 80%;
  height: 100%;

}