
$base: rgb(17, 17, 17);
$theme-red :#ec0000;

@font-face {
  font-family: lato-light;
  src: url("../src/screens/assets/Lato-Light.ttf");
}

:root{background-color: $base;padding-bottom: 20px;}

.base-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.primary-btn{
  background-color: $theme-red;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  transition: ease 0.5s;

  span{margin-left: 8px;}
}

.primary-btn:hover,.primary-btn:visited{
  background-color: #9e0000;
  transition: ease 0.5s;
  color: white;
}

.App{
  background-color: $base;
  height: 100vh;
  color: white;
  justify-content: space-between;
  flex-direction: column;
}


.nav-bar{
  width: 100%;
  background: linear-gradient(180deg, black,black, transparent);
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 0;
  z-index: 2;
 

  .nav-bar-div{flex-direction: row;width: 100%;

    img.logo{width: 120px;}

    a{
      padding: 5px 10px;
      text-decoration: none;
      text-align: left;
      cursor: pointer;
      border-radius: 8px;
      transition: ease 0.5s;
      justify-content: flex-start;
      margin: 7px 1px;
     }

    a:visited{color: darkgray;}
    a:hover{color: darkgray;transition: ease 0.5s;}
    a.user-links{
      padding: 10px;
      width: auto;
      margin-right: 10px;
    }

  }

  .logo-holder{width: 40%;}
  .nav-link-holder{justify-content: flex-start;}
  .logout-holder{justify-content: flex-end;}
}

.main-body{
  width: 99%;
  justify-content: flex-start;
  flex-direction: column;
  font-family: lato-light;
}


.banner{
  width: 100%;
  height: 590px;
  overflow: hidden;

  .banner-img-holder{height: 100%;width: 100%;
    img{width: 100%; height: 100%}
  } 

  .banner-content-holder{
    width: 100%;
    height: 100%;
    color: white;
    position: absolute; 
    background: linear-gradient( 45deg, black,#00000066 ,transparent);
    flex-direction: column;
    align-items: flex-start;
      
    .banner-content{
      width: 40%;
      flex-direction: column;
      padding-left: 2rem;
      align-items: flex-start;
      flex-wrap: wrap;

      .banner-show-stats{
        width: 50%;
        justify-content: flex-start;

        span{margin: 0px 5px;}
      }
    }

  }
}


.show-grid{
  flex-direction: column;
  width: 100%;
  margin: 20px 0px;
  margin-bottom: 10px;

  .grid-wrapper{
   flex-direction: column;
    align-items: flex-start;
    width: 95%;
    font-size: 1.1rem;
    .grid-head{width: 100%;justify-content: space-between;}

    .grid-holder{
      overflow: scroll;
      white-space: nowrap;
      width: 75rem;
      scroll-behavior: smooth;

      .grid-card{
        width: 150px;
        height: 220px;
        cursor: pointer;
        background-color: darkgrey;
        margin: 5px 5px;      
        display: inline-block;
        overflow: hidden;
        transition: ease 0.5s;
        border-radius: 5px;
        position: relative;

        img{ width: 100%;height: 100%;}

        .gird-data{
          position: absolute;
          bottom: 0px;
          width: 100%;
          height: 100%;
          background: linear-gradient(359deg, #000000c9,#00000078);
          width: 95%;
          flex-direction: column;
          padding: 0px 10px;
          transform: scale(50%);
          opacity: 0;
          border-radius: 5px;
          transition: ease 0.2s;


          .play-show{
            cursor: pointer;
            color: white;
            width: 100%;
            align-items: center;}  
            
            div{
              flex-direction: column;
              align-items: flex-start;
              align-self: flex-end;
              padding-bottom: 10px;
  
              width: 100%;
     
            }
           

          span{font-size: 1rem;
            margin: 0.2rem 0px;
        }
          h3{margin: 2px;}
        }
      }

      .grid-card:hover {
        transform: scale(95%);
    
        transition: ease 0.2s;
      }
      .grid-card:hover .gird-data{transform: scale(100%);opacity: 1;}
    }
      .grid-holder::-webkit-scrollbar {display: none;}
      .grid-holder {-ms-overflow-style: none; scrollbar-width: none;}
  }

}

.loading-holder{
  height: 100%;
  width: 100%;
  font-family: lato-light;
  color: $theme-red;
  flex-direction: column;
  h3{
    margin: 4rem;
  }

  img{
    transform: translateY(-10%);
    animation: floater 1.5s infinite;
    transition: ease 0.5s;
    width: 5rem;
  }

  
  
}

@keyframes floater {
  0%{transform: translateY(-10%);transition: ease 0.5s;}
  50%{transform: translateY(10%);transition: ease 0.5s;}
}