
$base: rgb(17, 17, 17);
$theme-red :#ec0000;

.base-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.primary-btn{
  background-color: $theme-red;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: ease 0.5s;

  span{
    margin-left: 8px;
  }
}

.primary-btn:hover,.primary-btn:visited{
  background-color: #9e0000;
  transition: ease 0.5s;
  color: white;
}

.App{
  background-color: $base;
  height: 100vh;
  color: white;
  justify-content: space-between;
  flex-direction: column;
}


.nav-bar{
  width: 100%;
  background: linear-gradient(180deg, black,black, transparent);
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 0;
  z-index: 2;
 

  .nav-bar-div{
    flex-direction: row;
    width: 100%;

    img.logo{width: 120px;}

    a{
      padding: 5px 10px;
      text-decoration: none;
      text-align: left;
      cursor: pointer;
      border-radius: 8px;
      transition: ease 0.5s;
      justify-content: flex-start;
      margin: 7px 1px;
     }

    a:active,a:visited{color: white;}

    a:hover{
    
      transition: ease 0.5s;
    }

    a.user-links{

      padding: 10px;
      width: auto;
      margin-right: 10px;
    }

  }

  .logo-holder{width: 40%;}
  .nav-link-holder{justify-content: flex-start;}
  .logout-holder{justify-content: flex-end;}

}

.main-body{
  width: 99%;
  justify-content: flex-start;
  flex-direction: column;
  
  
}


.banner{
  width: 100%;
  height: 590px;
  overflow: hidden;

  .banner-img-holder{height: 100%;width: 100%;
    img{width: 100%; height: 100%}
  } 

  .banner-content-holder{
    width: 100%;
    height: 100%;
    color: white;
    position: absolute; 
    background: linear-gradient( 45deg, black,#00000066 ,transparent);
    flex-direction: column;
    align-items: flex-start;
      
    .banner-content{
      width: 40%;
      flex-direction: column;
      padding-left: 2rem;
      align-items: flex-start;
      flex-wrap: wrap;

      .banner-show-stats{
        width: 50%;
        justify-content: flex-start;

        span{
          margin: 0px 5px;

        }
      }
    }

  }
}
